/* http://jgthms.com/web-design-in-4-minutes/# */

/* Primary colors */

:root {
    --green: #77e848;
    --white1: white;
    --white2: #f5f7f9;
    --white3: #d8dee9;
    --white4: #efefef;
    --white5: #f9f9f9;
    --white6: #dddddd;
    --dirty-white: #a59d95;
    --gray1: #a7adba;
    --gray2: #566b78;
    --gray3: #333;
    --gray4: #27292a;
    --gray5: #212121;
    --gray6: #202324;
    --gray7: #2f3335;
    --black: black;
    --blue: #69c;
}

/* Theme toggler */

.light {
    --bg: var(--white1);
    --text: var(--gray2);
    --hover: var(--black);
    --header: var(--gray3);
    --border: var(--white4);
    --code-bg: var(--white2);
    --toc-bg: var(--white5);
    --nth-even: var(--white6);
}

.dark {
    --bg: var(--gray5);
    --text: var(--dirty-white);
    --hover: var(--white1);
    --header: var(--dirty-white);
    --border: var(--dirty-white);
    --code-bg: var(--gray4);
    --toc-bg: var(--gray6);
    --nth-even: var(--gray7);
}

/* Centering */

header,
main {
    margin: 0 auto;
    max-width: 50em;
}

.common-tex-item {
    margin-bottom: 15px;
}

.common-tex-image {
    display: inline-block;
    width: 80px;
    vertical-align: middle;
    text-align: center;
}

.common-tex-content {
    width: 700px;
    display: inline-block;
    vertical-align: middle;
}

/* Navbar */

nav a {
    border: 1px solid var(--green);
    border-radius: 290486px;
    color: var(--green);
    font-size: 0.8em;
    letter-spacing: 0.18em;
    padding: 1em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
}

nav a:hover {
    background: var(--green);
    color: var(--white1);
}

/* Fonts */

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
strong {
    font-weight: 500;
}

header h1 {
    font-size: 2.5em;
    font-weight: 300;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

/* Spacing */

body {
    line-height: 1.5;
    padding: 4em 1em;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 1em;
}

header {
    line-height: 1.2;
    max-width: none;
    padding: 7vw 2em;
    text-align: center;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
    overflow: auto;
    white-space: pre-wrap;
}


#toc_container li,
#toc_container ul,
#toc_container ul li {
    list-style: disc none none;
}

/* Colors and contrast */

h1,
h2,
strong {
    color: var(--header);
}

a {
    transition: color 0.2s ease;
}

a:hover {
    color: var(--hover);
}

body {
    background: var(--bg);
    color: var(--text);
}

a {
    color: var(--green);
}

code,
pre {
    background: var(--code-bg);
    color: var(--gray1);
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: initial;
}

pre {
    border-left: 2px solid var(--blue);
}

table,
th,
td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 0 5px;
}

tr:nth-child(even) {
    background-color: var(--nth-even);
}

#toc_container {
    background: var(--toc-bg) none repeat scroll 0 0;
    border: 1px solid gray;
    display: table;
    float: right;
    margin-bottom: 1em;
    margin-left: 1em;
    padding-right: 1em;
}

input {
    background-color: var(--bg) !important;
    color: var(--text) !important;
    border-color: var(--border) !important;
}

#fall-ob-heights {
    background-color: var(--code-bg);
    border-color: var(--border);
}

#jump-ob-heights {
    background-color: var(--code-bg);
    border-color: var(--border);
}

/* Images */

img {
    height: auto;
    max-width: 100%;
}

#logo {
    width: 300px;
}

#theme-toggler {
    width: 30px;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
}

/* Resources */

#links-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
}

#links-block ul {
    padding-left: 15px;
}

#links-block h2 {
    margin-top: 10px;
    padding-top: 0;
}

#links-block>div {
    padding: 10px;
    border: 1px solid var(--border);
}

#links-block>div:nth-child(1) {
    grid-column: 1 / 2;
    border-right: none;
}

#links-block>div:nth-child(2) {
    grid-column: 2 / 2;
}

#links-block>div:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2;
    border-top: none;
}

.mtb40 {
    margin: 40px 0;
}

.grid-2-3 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 10px;
}